/* UNIVERSAL STYLE */
html{
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #4A4A4A;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1.4rem;
}
h5{
    font-size: 1.3rem;
}
h6{
    font-size: 1.2rem;
}
nav ul li a{
    font-size: 1.5rem;
    color: #4A4A4A;
    text-decoration: none;
    padding-right: 16px;
}
/* grid area */
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #D8D8D8;
    padding: 10px;
    grid-auto-rows: auto;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .item1 {
    grid-area: 1 / 1 / span 1 / span 4;
  }
  .item2 {
   grid-area: 2 / 1 /span 1/ span 2;
  
   }
   .item3 {
   grid-area: 2 / 3/ span 1/ span 2;
   }
   .item4 {
   grid-area: 3/ 1/ span 3/ span 2;
   }
   .item5 {
   grid-area: 3/ 3/ span 1/ span 2;
   }
   .item6 {
   grid-area: 4/ 3/ span 1/ span 2;
   }
   .item7{
   grid-area: 5/ 3/ span 1/ span 2;
   }
   .item8{
   grid-area: 6/ 1/ span 1/span 4;
   }